<?xml version="1.0" encoding="UTF-8"?>
<config>
    <packageName>nginx</packageName>
    <repositoryUrl>https://dl-cdn.alpinelinux.org/alpine/v3.18/main</repositoryUrl>
    <testRepositoryMode>false</testRepositoryMode>
    <outputImage>dependencies.svg</outputImage>
    <asciiTreeMode>true</asciiTreeMode>
    <graphFormat>svg</graphFormat>
</config>